:root {
    --theme: #ed6c21;
    --header: #18191a;
    --background: #1c1e21;
    --text: #f5f5f5;
    --snow: #ffffff;
    --border-accent: #757575;
    --border: #5c5c5c;
    --marker: #b3b3b3;
    --accent: #e05d2d;
}

.footer {
    p {
        font-size: 0.7em;
        margin: 0.5em 0;
    }

    address {
        margin-top: 2em;
        margin-bottom: 0.5em;
    }
    width: 100%;
    padding-top: 1em;
    padding-bottom: 3em;
    margin-top: 1em;
    background-color: var(--header);
    border-top: 1px solid var(--border);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    justify-content: center;
}

.spacer {
    height: 2em;
    width: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upButton {
    display: inline-block;
    background-color: var(--accent);
    color: var(--snow);
    border-radius: 2em;
    border: 2px solid var(--border);
    text-decoration: none;
    font-size: 2em;
    transition: background-color 0.3s ease;
    width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
    align-content: center;
    @media all and (max-width: 500px) {
        width: 1.5em;
        height: 1.5em;
    }
}

.upButton:hover {
    background-color: var(--accent-hover);
    border: 1px solid var(--border);
}