:root {
    --theme: #ed6c21;
    --header: #18191a;
    --background: #1c1e21;
    --text: #f5f5f5;
    --snow: #ffffff;
    --border-accent: #757575;
    --border: #5c5c5c;
    --marker: #b3b3b3;
    --accent: #e05d2d;
}

h1 {
    text-align: center;
}

header {
    nav {
        ul {
            li {
                margin-left: 0.5em;
                margin-right: 0.5em;
                padding: 0.5em;
                padding-bottom: 0.2em;
                padding-top: 0.2em;
                border-radius: 0.5em;
                margin-top: 0.2em;
                font-size: 1.2em;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            overflow-x: auto;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            scrollbar-width: thin;
            scrollbar-color: var(--accent) transparent;
            box-sizing: border-box;
            margin-top: 0.5em;
        }
        display: flex;
        align-content: center;
        justify-content: center;
    }
    h1 {
        margin-top: 3em;
    }
    @media all and (max-width: 500px) {
        h1 {
            margin-top: 4em;
        }
    }
}

.headLogo {
    mask-image: url('../images/лого.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--accent);
    height: 2em;
    width: 3em;
    margin: 0.5em;
    color: var(--accent);
    min-width: 40px;
}

.headerField {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--header);
    z-index: 1000;
    width: 100%;
    padding-bottom: 0.2em;
    margin: 0;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--border);
}

a {
    text-decoration: none;
    color: var(--snow);
    position: relative;
}
a:hover {
    color: var(--accent);
}
a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 2px;
    background-color: var(--accent);
    transition:
        width 0.3s ease,
        left 0.3s ease;
    left: 50%;
}
a:hover::after {
    width: 100%;
    left: 0;
}

/*==== 3 Lab ====*/
.noUnderline {
    color: var(--theme);
}
.noUnderline:hover {
    color: var(--theme);
}
.noUnderline::after,
.noUnderline:hover::after {
    content: none;
    width: 0 !important;
    height: 0 !important;
    background: none !important;
    transition: none !important;
}

.headLogoActive {
    mask-image: url('../images/eye_logo.png');
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--accent);
    height: 2em;
    width: 3em;
    margin: 0.5em;
    color: var(--accent);
    min-width: 40px;
}

.pointerActive {
    transform: scale(105%);
}

.modalHeaderMenu {
    top: 2.96em;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
    min-width: fit-content;
    font-size: smaller;
    background-color: var(--header);
    border: 1px solid var(--border);
    border-top: none;
    border-radius: 0 0 1em 1em;
}

.headerClock {
    p {
        padding: 0;
        margin: 0;
    }
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
    white-space: nowrap;
}
