:root {
    --theme: #ed6c21;
    --header: #18191a;
    --background: #1c1e21;
    --text: #f5f5f5;
    --snow: #ffffff;
    --border-accent: #757575;
    --border: #5c5c5c;
    --marker: #b3b3b3;
    --accent: #e05d2d;
    --section: rgba(34, 36, 39, 0.8);
    --aside-action: rgba(43, 45, 48, 0.8);
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    div {
        width: 100%;
    }
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--text);
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
    pointer-events: none;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 100%;
    align-items: flex-start;
    min-width: 90%;
    min-height: 70vh;
    justify-content: center;
    @media all and (min-width: 1200px) {
        max-width: 80%;
    }
}

article {
    header {
        h2 {
            min-width: 100%;
            background-color: var(--header);
            margin: 0;
            padding: 1em 0;
            min-height: 2.3em;
            min-width: 3em;
            border: solid var(--border);
            border-width: 0px 0px 1px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        p {
            font-size: 0.8em;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    section {
        h3 {
            border: solid var(--border);
            border-width: 1px 0px 1px 0px;
            padding: 0.5em 0 0.5em 0;
            margin: 0;
        }
        aside {
            margin: 0.5em 2em 0.5em 2em;
            margin: 0.5em 2em;
            background-color: var(--aside-action);
            padding: 0.5em 1em;
            border-left: 3px solid var(--accent);
        }
        margin: 1em;
    }
    footer {
        padding: 0;
        margin: 0;
        text-align: center;
        min-height: 1.25em;
        border: solid var(--border);
        border-width: 1px 0px 0px 0px;
    }
    background-color: var(--section);
    border: 1px solid var(--border);
    border-radius: 2em;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    min-width: 65%;
    flex-grow: 100;
    overflow: hidden;
    order: 1;
    margin: 0.5em;
    @media all and (max-width: 500px) {
        order: 1;
        min-width: 100%;
        margin-left: 0;
        border-radius: 0;
        border-width: 1px 0px 1px 0px;
        margin: 0;
    }
}

main > section {
    h2 {
        min-width: 100%;
        background-color: var(--header);
        margin: 0;
        padding: 1em 0;
        min-height: 2.3em;
        min-width: 3em;
        border: solid var(--border);
        border-width: 0px 0px 1px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    aside {
        margin: 0.5em 2em 0.5em 2em;
        margin: 0.5em 2em;
        background-color: var(--aside-action);
        padding: 0.5em 1em;
        border-left: 3px solid var(--accent);
    }
    margin: 1em 0.5em 1em 0.5em;
    background-color: var(--section);
    border: 1px solid var(--border);
    border-radius: 2em;
    flex-grow: 100;
    max-width: 70%;
    overflow: hidden;
    @media (max-width: 500px) {
        margin: 1em 0em 1em 0em;
        max-width: 100%;
    }
}

.aside-box {
    h3 {
        background-color: var(--header);
        margin: 0;
        padding: 0em 0.5em 0em 0.5em;
        min-height: 3em;
        min-width: 3em;
        border: solid var(--border);
        border-width: 0px 0px 1px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    section {
        padding: 0;
        margin: 0;
        height: 100%;
    }
    ul {
        li {
            border: solid var(--border);
            border-width: 0px 0px 1px 0px;
            padding: 0;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
        padding: 0;
        margin: 0;
        text-align: center;
    }
    background-color: var(--section);
    border: solid var(--border);
    border-width: 1px 1px 1px 1px;
    border-radius: 2em;
    margin-top: 0.5em;
    min-width: 20%;
    flex-grow: 200;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    order: 1;
    max-width: 25%;
    margin: 0.5em;
    @media all and (max-width: 500px) {
        ul {
            padding-bottom: 0;
        }
        order: -1;
        min-width: 100%;
        margin-left: 0;
        border-radius: 0;
        border-width: 1px 0px 1px 0px;
        max-width: 100%;
        margin: 0;
    }
}

.mainTheme {
    h2 {
        width: 100%;
        background-color: var(--header);
        padding: 0.5em;
        margin: 0;
        border-bottom: 1px solid var(--border);
    }
    p {
        font-size: 0.8em;
    }
    min-width: 100%;
    background-color: var(--section);
    border: 1px solid var(--border);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    min-width: 70%;
    flex-grow: 100;
    overflow: hidden;
    text-align: center;
    margin: 0.5em;
    @media all and (max-width: 500px) {
        min-width: 100%;
        margin-left: 0;
        border-radius: 0;
        border-width: 1px 0px 1px 0px;
        margin: 0;
    }
}

.bottom-gap {
    margin-bottom: 1em;
}

.horizontal-container {
    h3 {
        border-top: 1px solid var(--border);
        border-bottom: 1px solid var(--border);
        padding: 0.5em;
    }
    div {
        p {
            text-align: start;
            padding: 0.5em;
            font-size: medium;
        }
        flex-grow: 100;
    }
    .grow-20 {
        flex-grow: 20;
        max-width: 20%;
    }
    .small-font {
        font-size: smaller;
    }
    display: flex;
    flex-direction: row;
    margin: 1em;
    border-bottom: 1px solid var(--border);
    @media (max-width: 500px) {
        .grow-20 {
            max-width: 100%;
        }
        flex-direction: column;
    }
}

.user-logo {
    mask-image: url('../images/user.png');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: var(--snow);
    filter: invert(1);

    /* Основные стили для квадрата */
    height: auto;
    width: 60%;
    min-width: 100px;
    aspect-ratio: 1 / 1;
    margin: 0.5em;
    color: var(--snow);
    object-fit: cover;
    background-size: cover;
}

#page-description {
    text-align: justify;
    line-height: 1.6;
    font-size: medium;
    padding: 0.5em 2em 0.5em 2em;
}

.invisible {
    visibility: hidden;
}
